<!doctype html>
<html lang="en">
<head>
  {{> headers}}
</head>
<body class="center full-size">
<!--{{flag}}-->
<h1 class="gradient-text gradient-1">Where is the flag?</h1>
<span>Press F12 to open devtools</span>
</body>
</html>