<!doctype html>
<html lang="en">
<head>
  {{> headers}}
  <style>
    body{
      overflow: hidden;
    }
    img{
      position: absolute;
      width: 100vmin;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
</head>
<body class="full-size">
<img src="/public/assets/cm.png" alt="flag hint" loading="eager">
</body>
</html>