<!doctype html>
<html lang="en">
<head>
  {{> headers}}
  <script type="application/json" id="__DATA__">
    {
      "a":"ZDk0ZWUyYWQ%3D",
      "b":"ZDk0ZWUyYWQ%3D",
      "c":"MGQwYjlhMjM%3D",
      "d":"Y2UzOGMyN2Y%3D",
      "e":"YjE5NWQ4MTA%3D",
      "f": "{{part1}}",
      "g": "{{part2}}"
    }
  </script>

</head>
<body class="center full-size">
<h1 class="gradient-text gradient-1"></h1>
<script async src="/public/scripts/vendors/pouchdb-7.3.0.min.js"></script>
<script defer src="/public/scripts/matmon-basic.js"></script>
</body>
</html>