<!doctype html>
<html lang="en">
<head>
  {{> headers}}
  <script type="application/json" id="__DATA__">
    {
      "a": "{{encode d94ee2ad}}",
      "b": "d94ee2ad",
      "c": "0d0b9a23",
      "d": "ce38c27f",
      "e": "b195d810",
      "f": "{{part1}}",
      "g": "{{part2}}"
    }
  </script>

</head>
<body class="center full-size">
<h1 class="gradient-text gradient-1"></h1>
<script async src="/public/scripts/vendors/pouchdb-7.3.0.min.js"></script>
<script defer src="/public/scripts/matmon-basic.js"></script>
</body>
</html>