<!doctype html>
<html lang="en">
<head>
  {{> headers}}
  <style>
    body::after{
      content: "{{flag}}";
      display: none;
    }

    @keyframes rgb{
      0%, 100%{
        color: red;
      }

      33%{
        color: blue
      }

      67%{
        color: green
      }
    }

    h1{
      animation: infinite rgb ease-out 1s;
    }
  </style>
  <title>Devtools CTF</title>
</head>
<body class="center full-size">
<h1>Where is the flag now?</h1>
</body>
</html>