<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/styles/index.css">
  <title>Devtools CTF</title>
</head>
<body class="center full-size">
<h1 class="gradient-text gradient-2">I fetched the flag for you.</h1>
<span>You're welcome!</span>
<script async>
  fetch('{{flagUrl}}', { method: "GET" });
</script>
</body>
</html>