.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.full-size{
    height: 100vh;
    width: 100vw;
}

.gradient-text{
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}